{{!-- Основной блок с вишлистом --}}
<div class='container wishlist'>
  <div class="card mt-4" style="width: auto;">
    <div class="card-body">
      {{#if roomtitle}}
      <h5 class="card-title text-dark">{{ roomtitle }}</h5>
      {{else}}
      <h5 class="card-title text-dark">Название комнаты</h5>
      {{/if}}
      <hr>
      {{#if products}}
      {{#foreach products}}
      <div class="container border border-primary d-flex align-items-center text-dark bg-light">
        <div class="flex-grow-1 bd-highlight">{{this.name}}</div>
        <span class="p-2 mx-2 bd-highlight">{{this.price}}р.</span>
        <input class="checkbox" type="checkbox" aria-label="Checkbox for following text input">
      </div>
      {{/foreach}}
      {{else}}
      <div class="container border border-primary d-flex align-items-center text-dark bg-light">
        <div class="flex-grow-1 bd-highlight">Название</div>
        <span class="p-2 mx-2 bd-highlight">100р.</span>
        <input class="checkbox" type="checkbox" aria-label="Checkbox for following text input">
      </div>
      {{/if}}
      <button type="button" class="btn btn-success mt-2 add-product">Добавить в лист</button>
      <a href="{{#if roomid}} {{roomid}} {{/if}}" type="button" class="btn btn-primary mt-2 reload">Обновить</a>
    </div>
  </div>
</div>

{{!-- Добавление новый позиций в список --}}
<div class='container add-one-product invisible text-dark'>
  <div class="card mt-4" style="width: auto;">
    <div class="card-body">
      <h5 class="card-title">Добавление продуктов</h5>
      <hr>
      <div class="form-group">
        <form>
          <label for="name">Название продукта</label>
          <input type="text" class="form-control" id="name" required>
          <small id="name" class="form-text text-muted">Введите название продукта</small>
      </div>
      <div class="form-group">
        <label for="price">Цена</label>
        <input type="number" class="form-control" id="price" required>
        <small id="price" class="form-text text-muted">Введите ориентировочную цену</small>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label text-dark" for="exampleCheck1">Уже купил</label>
      </div>
      <button type="submit" class="btn btn-primary add-row-button">Добавить в лист</button>
      </form>
    </div>
  </div>
</div>

<template id="product-row">
  <div class="container border border-primary d-flex align-items-center text-dark bg-light">
    <div class="flex-grow-1 bd-highlight">Колбаса</div>
    <span class="p-2 mx-2 bd-highlight">100р</span>
    <input type="checkbox" aria-label="Checkbox for following text input">
  </div>
</template>