<div id="rooms-container">
  <div id="rooms-list">
    <div class="add-button">
      <a href="/rooms" id="add-btn-link"><button id="add-main-btn">+</button></a>
    </div>
    <div id="compile-form"></div>

    {{#if rooms}}
    {{#each rooms}}
    <div class="room">
      <h4>Тема: {{this.title}}</h4>
      <p>Время создания: {{this.createdAt}}</p>

      <p>Ссылка: <a href="localhost:3000/rooms/shortlink/{{this.shortUrl}}">http://party.room/{{this.shortUrl}}</a></p>

      <p>Количество участников: {{this.users.length}}</p>

      <a href="/rooms/{{this._id}}">Войти в комнату</a>
      <a href="/rooms/{{this._id}}" id={{this._id}} class="delete-room">Удалить комнату</a>
    </div>
    {{/each}}
    {{else}}
    <h3>Здесь будет список созданных вами комнат</h3>
    {{/if}}
  </div>
</div>
